* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url(/assets/images/login_bg.jpg) no-repeat center;
  background-size: cover;

}
.layui-main{
  background: url(/assets/images/logo.png) no-repeat ;
}
.container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 310px;
  background: url(/assets/images/login_title.png) #fff no-repeat center 15px;
  padding-top: 60px;
}